<table>
    <thead>
        <tr><th>이름</th><th>가격</th><th>수량</th></tr>
    </thead>
    <tbody>
    {{#each fruits}}
        <tr>
            <td>{{name}}</td><td>{{price}}</td><td>{{quantity}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>